<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Payment Receipt</title>
    <style>
      body {
        zoom: 0.75;
        font-family: Arial, sans-serif;
        padding: 0;
        margin: 0;
      }

      .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px 30px;
      }

      .header img {
        height: 100px;
        border-radius: 10px;
      }
      /* 
      .wave1,
      .wave2 {
        position: absolute;
        width: 100%;
        height: 60px;
        left: 0;
      }

      .wave1 {
        bottom: 0;
        background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg"><path fill="%23a78bfa" fill-opacity="1" d="M0,224L1440,96L1440,320L0,320Z"></path></svg>') no-repeat;
        background-size: cover;
      }

      .wave2 {
        bottom: -20px;
        background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg"><path fill="%23ddd6fe" fill-opacity="1" d="M0,256L1440,128L1440,320L0,320Z"></path></svg>') no-repeat;
        background-size: cover;
      } */

      .container {
        padding: 0px 40px;
        line-height: 1.15;
      }

      h1 {
        margin-bottom: 0.5rem;
      }

      h4 {
        line-height: 0%;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }

      td {
        padding: 10px;
        border: 1px solid #ddd;
        vertical-align: top;
      }
      .address {
        width: 50%;
        line-height: 1.15;
        white-space: pre-line;
      }

      .foot {
        line-height: 1.25;
      }

      .footer {
        margin-top: 40px;
        font-size: 12px;
        color: #444;
        text-align: center;
      }

      .text-muted {
        color: #666;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <table style="width: 100%; border: none; border-collapse: collapse">
        <tr>
          <td style="vertical-align: center; text-align: left; border: none">
            <div style="line-height: 0.25">
              <h3>Shanthibhavan Palliative International Ltd</h3>
              <h3>ΑΒΝ: 52 686 682 851</h3>
              <h3>Public Benevolent Institution - DGR Endorsed</h3>
            </div>
          </td>
          <td style="text-align: right; border: none">
            <img
              crossorigin="anonymous"
              src="http://localhost:3001/logo/logo.png"
              style="height: 100px; border-radius: 10px"
              alt="Logo"
            />
          </td>
        </tr>
      </table>
    </div>

    <hr />
    <div class="container">
      <div>
        <div class="address">
          To 
          <%= name %>
          <div><%= address %></div><%= phoneNo %>
        </div>
      </div>
      <p>Dear <strong><%= name %></strong>,</p>
      <p>
        Thank you for your generous donation of AUD <%= amount %>. Below are the
        details of your contribution.
      </p>
      <p><strong>Receipt</strong></p>
      <p>
        We confirm the receipt of payment from Mr/Ms/Mrs Well wisher as per
        details below:-
      </p>
      <table>
        <tr>
          <td><strong>Receipt No</strong></td>
          <td><%= receiptNumber %></td>
        </tr>
        <tr>
          <td><strong>Payment Date</strong></td>
          <td><%= date %></td>
        </tr>
        <tr>
          <td><strong>Transaction Number</strong></td>
          <td><%= transactionNumber %></td>
        </tr>
        <tr>
          <td><strong>Amount Received</strong></td>
          <td>AUD <%= amount %> (<%= amountWords %>)</td>
        </tr>
        <tr>
          <td><strong>Towards</strong></td>
          <td>Shanthibhavan palliative international LTD</td>
        </tr>
      </table>
      <p>
        <strong>Description</strong> : This is a gift received to support the
        free treatment of bedridden patients.
      </p>
      <hr />
      <p>
        <strong>Declaration</strong> : This receipt acknowledges that the above
        amount was donated to Shanthibhavan Palliative International Ltd. No
        goods or services were received in return for this donation. This
        donation is tax-deductible under Australian law.
      </p>
      <hr />
      <p>
        <strong> Registered office address</strong> : Shanthibhavan palliative
        international LTD, Office 3261, Ground Floor, 470 St Kilda Rd, MELBOURNE
        VIC 3004, Australia
      </p>
      <hr />
      <p class="foot">
        This receipt can be used for claiming a tax deduction under Australian
        tax law. <br />For any enquiries, please contact us at: <br />Email:
        operationssbau@palliativeinternational.com<br />
        Phone: +61 3 9111 2473<br />
        Website: www.palliativeinternational.com
      </p>
      <hr />
      <p>
        Shanthibhavan Palliative International Ltd is endorsed as a Deductible
        Gift Recipient (DGR) under Subdivision 30-BA of the Income Tax
        Assessment Act 1997. Donations of $2 or more are taxdeduce
      </p>

      <div class="footer">
        <p class="text-muted">
          This is an electronically generated receipt and does not require a
          signature.
        </p>
      </div>
    </div>
  </body>
</html>
